.chat-page {
    height: 100vh; /* Ensure the gradient covers the entire viewport height */
    /* background: linear-gradient(to bottom, #ffffff, #999999); */
    background: black;
    margin: 0; /* Remove any default margin */
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}



.divider {
    border: 0;
    height: 1px;
    background: var(--brand-primary); /* Line color */
    width: 75%
}


.boards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 0 40px 40px 40px;
    gap: 40px;
}

#chat {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 25px 25px;
    margin-left: 25px;
    margin-right: 25px;
    max-height: 460px;
    overflow-y: auto;
    overflow-anchor: auto;
}

#chat ul {
    list-style: none;
}

#chat ul li {
    margin-bottom: 20px;
}

.input-container {
    position: fixed; 
    left: 25px;
    bottom: 25px;
    width: 60%;
    display: flex; /* Add flexbox layout */
    align-items: center; 
}

.input-container span {
    color: var(--brand-primary);
    font-family: var(--font-family-monospace);
    font-size: 1rem;
}

#input {
    background-color: black; /* Set background to black */
    color: var(--brand-primary); /* Green text color */
    border: none; /* Remove border */
    padding: 0;
    width: 100%;
    outline: none;
    font-family: var(--font-family-monospace); /* Match the terminal font */
    font-size: 1rem; /* Adjust the font size to match the terminal text */
    margin-left: 8px; /* Adjust spacing from the prompt */
}

.send-button {
    position: absolute; 
    top: 25%;
    right: 0; 
    border: none; 
    background-color: transparent; 
    cursor: pointer; 
}

.send-button:focus {
    outline: none;
}

.leaderboard-container, .chat-history-container {
    width: 100%;
}

.timestamp {
    color: gray;
    font-size: 0.8em; /* Adjust size as needed */
}


