#messages {
    font-family: var(--font-family-monospace);
}

#messages strong {
    font-family: var(--font-family-monospace);
}

#messages em {
    color: var(--brand-primary);
}

#messages strong  {
    color: var(--brand-primary);
}

#messages p {
    color: var(--brand-primary);
    display: inline;
}