.loading-container {
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  width: 100vw;  /* Full viewport width */
  background-color: black;
}

.image {
  width: 350px;
  height: 350px;
}

.loading-text {
  margin-top: 20px; /* Add some space between the image and the text */
  font-size: 16px;
  font-weight: bold;
  color: var(--brand-primary);
}
